/*
styles for component: CollectionFilterMapView
*/

.filter-map-view {
  height: 80vh;

  h2 {
    font-size: 1.7rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: $nest-text;
    padding-bottom: 1px;
  }

  .county-select__wrapper {
    padding-right: 50px;
    margin-top: 15px;

    .mdc-notched-outline {
      padding: 1px 0px 1px 0px;

      .mdc-notched-outline__leading, .mdc-notched-outline__trailing {
        border-radius: unset;
      }
    }
  }
}
