.collection-filter-map-component {

  #collection-filter-map {
    position: absolute;
    top: 105px;
    left: 0;
    bottom: 50px;
    width: 100%;

    .navigate-to-extent {
      font-size: 1.7em;
    }

    .mapboxgl-ctrl-icon {
      padding: 0;
    }
  }

  .disabled-map {
    pointer-events: none;
  }

  .disabled-button {
    -webkit-filter: opacity(.3) drop-shadow(0 0 0 #FFF);
    filter: opacity(.3) drop-shadow(0 0 0 #FFF);
    cursor: default !important;
  }

  .map-filter-button {
    position: absolute;
    right: 46%;
    top: 115px;
    // right: 100px;
    // bottom: 100px;
    background-color: $secondary-color;
  }

  .tnris-basemap-menu {
    min-width: 108px;
    width: 100%;
    height: auto;
    min-height: 30px;
    padding: 3px;
    cursor: initial;

    #basemap-selector-container {
      .mdc-form-field {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: right;

        .mdc-switch:not(.mdc-switch--disabled) {
          @include mdc-switch-toggled-on-color($primary-color);
          @include mdc-switch-toggled-on-track-color($primary-color);
          @include mdc-switch-toggled-on-thumb-color($primary-color);
          @include mdc-switch-toggled-on-ripple-color($primary-color);
        }
  
        .mdc-switch {
          margin-right: 5px;
          margin-left: 5px;
        }
  
        label {
          cursor: pointer;
          padding-right: 3px;
  
          &.Satellite {
            color: $primary-color;
          }
        }
      }
    }
  }

  .tnris-instruction-menu {
    min-width: 108px;
    width: 100%;
    height: auto;
    min-height: 30px;
    padding: 3px;
    cursor: initial;

    #instructions-container {
      #collection-filter-map-instructions {
        max-width: 80vw;
        cursor: pointer;

        .close-icon {
          cursor: pointer;
          float: right;
          font-size: 12px;

          &:hover {
            background-color: #ccc;
          }
        }

        div.instruction-paragraph {
          margin-top: 3px;
          margin-bottom: 3px;

          #instruction-polygon-icon {
            height: 18px;
            width: 20px;
            margin-top: 2px;
            display: inline-flex;
            vertical-align: text-top;
          }
        }
      }
    }
  }
}
