/*
styles for component: CountyCoverage
*/

// only used by tnrisOrderTemplateDetails & HistoricalAerialTemplateDetails
.county-coverage-component {
  position: relative;

  #county-coverage-map {
    position: relative;
    width: auto;
    height: 62vh;
    top: 0;

    .mapboxgl-canvas {
      height: 100% !important;
    }

    .mapboxgl-control-container {
      .mapboxgl-ctrl-icon {
         padding: 0;
       }

      .mapboxgl-ctrl-top-left {
        button {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  .template-content-div-subheader {
    color: $nest-text;
    padding: 8px 0 8px 0;
  }

}
