/*
styles for component: GeoSearcher
*/

.geo-search-component:focus-within {

  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 7px -1px;

  .geo-search-input {
    background-color: $main-background;
    border: 1px solid $header-border;
  }

  .suggestion-list {
    border-bottom: none;
  }
}

.collection-filter-map-component > .geo-search-component {
  top: 42px;
  left: 50%;
  margin-left: -15%;
  margin-right: auto;
}

.geo-search-component {
  z-index: 2;
  width: 30%;
  position: absolute;
  top: 13px;
  right: 0;
  margin-right: 10px;
  overflow: unset;

  @media (min-width: $breakpoint-phone) and (max-width: $breakpoint-desktop) {
      width: 40%;
      margin-left: -20%;
  }

  @media (max-width: $breakpoint-phone) {
      width: 100%;
      position: relative;
      left: 0;
      margin-left: 0;
      margin-right: 12px;
  }

  .material-icons.mdc-text-field__icon {
      color: $skin-primary;
  }

  .geo-search-input {
      background-color: $search-background;
      padding: 5px 60px 5px 50px !important;
      border-bottom: none !important;
      color: $skin-primary;
      caret-color: $skin-primary;
      // border: 1px solid $header-border !important;
  }

  // .geo-search-input:hover {
  //   border-bottom-color: rgba(0, 0, 0, 0.42) !important;
  //   // border-bottom-color: $header-border !important;
  // }

  .suggestion-list {
    background-color: $main-background;
    border: 1px solid $header-border;
    box-shadow: inherit;
    padding: 0;

    // @media (max-width: $breakpoint-phone) {
    //   width: 145%;
    // }

    li {
      color: $skin-primary;
      background-color: $main-background !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    li[aria-selected="true"] {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }

  .suggestion-list:hover {
      cursor: pointer;
  }
}