/*
styles for component: TnrisDownloadTemplateDownload
*/

.tnris-download-template-download {
  position: relative;

  button {
    margin: 0;
  }

  #tnris-download-map {
    position: relative;
    width: auto;
    height: 62vh;
    top: 0;

    .mapboxgl-canvas {
      height: 100% !important;
    }

    .mapboxgl-ctrl-icon {
      padding: 0;
    }

    .mapboxgl-popup {
        max-width: 400px;

      .mapboxgl-popup-content {
        ul {
          list-style: none;
          padding-inline-start: 0;
        }
      }
    }
  }

  .tnris-download-menu {
    width: 100%;
    height: auto;
    min-height: 30px;
    padding: 3px;
    cursor: initial;

    &.hidden-layer-menu {
      display: none;
    }

    // .mdc-list-item.mdc-list-item--activated {
    //   background-color: $nest-text;
    //   color: $main-background;
    // }

    #basemap-selector-container {
      .mdc-form-field {
        padding-top: 5px;
        padding-bottom: 5px;

        .mdc-switch:not(.mdc-switch--disabled) {
          @include mdc-switch-toggled-on-color($primary-color);
          @include mdc-switch-toggled-on-track-color($primary-color);
          @include mdc-switch-toggled-on-thumb-color($primary-color);
          @include mdc-switch-toggled-on-ripple-color($primary-color);
        }
  
        .mdc-switch {
          margin-right: 5px;
          margin-left: 5px;
        }
  
        label {
          cursor: pointer;
          padding-right: 3px;
  
          &.Satellite {
            color: $primary-color;
          }
        }
      }
    }

    #layer-selector-container {
      .mdc-form-field {
        display: flex;

        @include mdc-radio-ink-color($primary-color);
        @include mdc-radio-checked-stroke-color($primary-color);
        @include mdc-radio-focus-indicator-color($primary-color);

        .mdc-radio {
          padding: 4px;
        }

        label {
          cursor: pointer;
        }
      }
    }
  }

  .tnris-download-template-download__mobile {
    background: $main-background;
    color: $nest-text;
    padding: 8px 12px 8px 12px;
  }

  .tnris-download-template-download__loading {
    overflow: hidden;

    .holodeck-loading-image {
      width: 100%;
    }
  }

  .tnris-download-template-download__none {
    background: $main-background;
    color: $error-text;
    padding: 35px;
  }

  .template-content-div-subheader {
    color: $nest-text;
    padding: 8px 0 8px 0;
  }

}
